<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="https://bootswatch.com/4/minty/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<style th:insert="~{Components :: style}"></style>
<meta charset="ISO-8859-1">
<title>Admin | Manage Admin</title>
<style>
.pd-0 {
	padding: 0;
}
</style>
</head>
<body>
	<div class="main-container">
		<div class="body-container">
			<nav th:insert="~{Components :: navbar}"></nav>
			<div class="d-flex" id="wrapper">
				<div th:insert="~{Components :: adminSidebar}"></div>
				<div id="page-content-wrapper">
					<div class="container-fluid">
						<br />
						<h3 class="text-center">Manage Admin</h3>

						<div>

							<br />
							<div class="container mb-2">
								<div class="row">
									<div class="card mb-2 col-sm-4 pd-0  text-center"
										th:each="admin : ${admins}">
										<h4 class="card-header"
											th:text="*{admin.firstName}+' '+*{admin.lastName}"></h4>

										<div class="card-footer"
											>
											<a th:href="@{'/admin/viewadmin/' + ${admin.id}}"
												class="btn btn-sm btn-outline-info">View</a> <a
												th:href="@{'/admin/updateadmin/' + ${admin.id}}"
												class="btn btn-sm btn-outline-warning">Update</a> <a
												th:href="@{'/admin/deleteadmin/' + ${admin.id}}"
												th:if="${admin.id}!=${session.usersession.getId()}" class="btn btn-sm btn-outline-danger">Delete</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer th:insert="~{Components :: footer}"></footer>
		<div th:insert="~{Components :: bootstrapScripts}"></div>
		<div th:insert="~{Components :: valScript}"></div>
	</div>
</body>
</html>