<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="https://bootswatch.com/4/united/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<style th:insert="~{Components :: style}"></style>
<meta charset="ISO-8859-1">
<title>CGPA Report</title>
<style>
.pd-0 {
	padding: 0;
}
</style>
</head>
<body>
	<nav th:insert="~{Components :: navbar}"></nav>
	<div class="d-flex" id="wrapper">
		<div th:insert="~{Components :: adminSidebar}"></div>
		<div id="page-content-wrapper">
			<div class="container-fluid">
				<br />
				<h3 class="text-center">CGPA Report</h3>
				<form action="getcgpareport" id="cgpareport">
					<div>
						<input type=hidden />
						<div class="form-group">
							<select th:name="depid" class="custom-select" id="dep">
								<option value="0" selected="">Please Select the
									Department</option>
								<option th:each="department : ${departments}"
									th:value="${department.getId()}"
									th:text="${department.getName()}"></option>
							</select>
						</div>
					</div>
				</form>
				<br />
				<h3  th:if="${studentsList!=null}" class="text-center" th:text="${depname}"></h3>
				<table th:if="${!#lists.isEmpty(studentsList)}" class="table table-hover">
					<tbody>
						<tr>
							<th>No</th>
							<th>Name</th>
							<th>CGPA</th>
						</tr>
						<th:block th:each=" student,iterStat: ${studentsList}">
							<tr class="table-primary">
								<td th:text="${iterStat.index+1}"></td>
								<td th:text="${student.firstName}+' '+${student.lastName}"></td>
								<td th:text="${cgpa[iterStat.index]}"></td>
							</tr>
						</th:block>
					</tbody>
				</table>
				<button th:unless="${#lists.isEmpty(studentsList)}" class="btn btn-primary" id="download">Download</button>
				<p class="text-center" th:if="${#lists.isEmpty(studentsList)}">No students available.</p>
			</div>
		</div>
	</div>
	<footer th:insert="~{Components :: footer}"></footer>
	<div th:insert="~{Components :: bootstrapScripts}"></div>
	<div th:insert="~{Components :: valScript}"></div>
	<script type="text/javascript">
		let department = document.getElementById('dep');

		department.onchange = submit;

		function submit() 
		{
			let depId = document.getElementById('dep').value;

			if (depId !== "0") 
			{
				let cgpareport = document.getElementById('cgpareport').submit();
			}
		}
		
		function download_csv(csv, filename)
		{
			  var csvFile;
			  var downloadLink;

			  // CSV FILE
			  csvFile = new Blob([csv], { type: "text/csv" });

			  // Download link
			  downloadLink = document.createElement("a");

			  // File name
			  downloadLink.download = filename;

			  // We have to create a link to the file
			  downloadLink.href = window.URL.createObjectURL(csvFile);

			  // Make sure that the link is not displayed
			  downloadLink.style.display = "none";

			  // Add the link to your DOM
			  document.body.appendChild(downloadLink);

			  // Lanzamos
			  downloadLink.click();
			}

			function export_table_to_csv(html, filename)
			 {
			  var csv = [];
			  var rows = document.querySelectorAll("table tr");

			  for (var i = 0; i < rows.length; i++) {
			    var row = [],
			      cols = rows[i].querySelectorAll("td, th");

			    for (var j = 0; j < cols.length; j++) row.push(cols[j].innerText);

			    csv.push(row.join(","));
			  }

			  // Download CSV
			  download_csv(csv.join("\n"), filename);
			}

			document.getElementById("download").addEventListener("click", function() {
			  var html = document.querySelector("table").outerHTML;
			  console.log("lol");
			  export_table_to_csv(html, "table.csv");
			});
	</script>
</body>
</html>