<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="https://bootswatch.com/4/minty/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<style th:insert="~{Components :: style}"></style>
<meta charset="ISO-8859-1">
<title>Admin | Manage Course</title>
<style>
.pd-0 {
	padding: 0;
}
</style>
</head>
<body>
	<div class="main-container">
		<div class="body-container">
			<nav th:insert="~{Components :: navbar}"></nav>
			<div class="d-flex" id="wrapper">
				<div th:insert="~{Components :: adminSidebar}"></div>
				<div id="page-content-wrapper">
					<div class="container-fluid">
						<br />
						<h3 class="text-center">Manage Course</h3>
						<form class="p-3" action="/admin/viewcourse" id="depfrom">
							<input type=hidden />
							<div class="form-group">
								<select th:name="depid" onchange="this.form.submit()"
									class="custom-select" id="department">
									<option value="" selected="">Please Select the
										Department</option>
									<option th:each="dep : ${departments}"
										th:value="${dep.getId()}" th:text="${dep.getName()}"></option>
								</select>
							</div>
						</form>
						<div th:if="${department}">
							<h3 class="text-center" th:text="${department.name}"></h3>
							<br />
							<div class="container mb-2">
								<div class="row">
									<div class="card mb-2 col-sm-4 pd-0  text-center"
										th:each="course : ${courses}">
										<h4 class="card-header" th:text="*{course.name}"></h4>
										<ul class="list-group">
											<li class="list-group-item text-center">Total Students
												Enrolled - <span class="badge badge-primary"
												th:text="${#lists.size(course.students)}"></span>
											</li>
											<li class="list-group-item text-center">Total Lecturers
												- <span class="badge badge-primary"
												th:text="${#lists.size(course.faculties)}"></span>
											</li>
											<li class="list-group-item text-center">Maximum Strength
												- <span class="badge badge-primary"
												th:text="${course.capacity}"></span>
											</li>
										</ul>
										<div class="card-footer">

											<a th:href="@{'/admin/viewstudent/' + ${course.id}+'/0'}"
												class="btn btn-sm btn-outline-info">Students</a> <a
												th:href="@{'/admin/viewstaff/' + ${course.id}}"
												class="btn btn-sm btn-outline-success">Staffs</a> <a
												th:href="@{'/admin/updatecourse/' + ${course.id}}"
												class="btn btn-sm btn-outline-warning">Update</a> <a
												th:href="@{'/admin/deletecourse/' + ${course.id}}"
												class="btn btn-sm btn-outline-danger">Delete </a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer th:insert="~{Components :: footer}"></footer>
		<div th:insert="~{Components :: bootstrapScripts}"></div>
		<div th:insert="~{Components :: valScript}"></div>
	</div>
</body>
</html>