<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="https://bootswatch.com/4/united/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<style th:insert="~{Components :: style}"></style>
<meta charset="ISO-8859-1">
<title>Admin | Manage Course</title>
<style>
.pd-0 {
	padding: 0;
}
</style>
</head>
<body>
	<div class="main-container">
		<div class="body-container">
			<nav th:insert="~{Components :: navbar}"></nav>
			<div class="d-flex" id="wrapper">
				<div th:insert="~{Components :: adminSidebar}"></div>
				<div id="page-content-wrapper">
					<div class="container-fluid">
						<br /> <br />
						<h4 class="text-center"
							th:text="${faculty.firstName} +' '+${faculty.lastName}"></h4>
						<div class="card mb-2 pd-0">
							<h4 class="card-header text-center">Assigned Courses</h4>
							<table class="table" th:if="${!faculty.getCourses().isEmpty()}">
								<tr th:each="assignedcourse : ${faculty.courses}">
									<td class="pl-3" th:text="${assignedcourse.name}" />
									<td><a
										th:href="@{'/admin/removecourse/' + ${faculty.id}+'/'+${assignedcourse.id}}"
										class="btn btn-outline-danger btn-sm">Remove</a></td>
								</tr>
							</table>

							<p th:if="${faculty.courses.isEmpty()}" class="text-center">No
								Assigned Courses</p>
						</div>
						<div class="card pd-0">
							<h4 class="card-header text-center">Assign New Course</h4>
							<table class="table" th:if="${!availableCourses.isEmpty()}">
								<tr th:each="assignedcourse : ${availableCourses}">
									<td class="pl-3" th:text="${assignedcourse.name}" />
									<td><a
										th:href="@{'/admin/assigncourse/' + ${faculty.id}+'/'+${assignedcourse.id}}"
										class="btn btn-outline-primary btn-sm">Assign</a></td>
								</tr>
							</table>
							<p th:if="${availableCourses.isEmpty()}" class="text-center">No
								Courses to assign</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer th:insert="~{Components :: footer}"></footer>

		<div th:insert="~{Components :: bootstrapScripts}"></div>
		<div th:insert="~{Components :: valScript}"></div>
	</div>
</body>
</html>