<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="https://bootswatch.com/4/united/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<style th:insert="~{Components :: style}"></style>
<meta charset="ISO-8859-1">
<title>Faculty Form</title>
<style>
.pd-0 {
	padding: 0;
}
</style>
</head>
<body>
	<nav th:insert="~{Components :: navbar}"></nav>
	<div class="d-flex" id="wrapper">
		<div th:insert="~{Components :: adminSidebar}"></div>
		<div id="page-content-wrapper">
			<div class="container-fluid">
				<br />
				<h3 class="text-center">Manage Student</h3>
				<form class="p-3" action="studentViewDepartment" id="depfrom"
					method="post">
					<input type=hidden />
					<div class="form-group">
						<select th:name="depid" onchange="this.form.submit()"
							class="custom-select" id="department">
							<option value="" selected="">Please Select the
								Department</option>
							<option th:each="dep : ${departments}" th:value="${dep.getId()}"
								th:text="${dep.getName()}"></option>
						</select>
					</div>
				</form>
				<div th:if="${department}">
					<h3 class="text-center" th:text="${department.name}"></h3>
					<br />
					<div class="container mb-2">
						<div class="row">
							<div class="card mb-2 col-sm-4 pd-0  text-center"
								th:each="student : ${students}">
								<h4 class="card-header"
									th:text="*{student.firstName}+' '+*{student.lastName}"></h4>

								<ul th:if="*{!student.getCourses().isEmpty()}"
									class="list-group list-group-flush">
									<th:block th:object="${greeting}">
										<li class="list-group-item"
											th:each="assignedcourse : ${student.courses}"
											th:text="${assignedcourse.name}"></li>
									</th:block>
								</ul>
								<p th:if="*{student.getCourses().isEmpty()}"
									class="list-group list-group-flush text-center">No Courses
									Assigned</p>
								<div class="card-footer">
									<a th:href="@{'/admin/managecourse/' + ${student.id}}"
										class="btn btn-sm btn-outline-success">View</a> <a
										th:href="@{'/admin/managecourse/' + ${student.id}}"
										class="btn btn-sm btn-outline-info">Assign</a> <a
										th:href="@{'/admin/updatestudent/' + ${student.id}}"
										class="btn btn-sm btn-outline-warning">Update</a> <a
										th:href="@{'/admin/deletestudent/' + ${student.id}}"
										class="btn btn-sm btn-outline-danger">Delete</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer th:insert="~{Components :: footer}"></footer>
	<div th:insert="~{Components :: bootstrapScripts}"></div>
	<div th:insert="~{Components :: valScript}"></div>
</body>
</html>