<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="https://bootswatch.com/4/materia/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<style th:insert="~{Components :: style}"></style>
<meta charset="ISO-8859-1">
<title>Faculty Form</title>
<style>
.pd-0 {
	padding: 0;
}
</style>
</head>
<body>
	<div class="main-container">
		<div class="body-container">
			<nav th:insert="~{Components :: navbar}"></nav>
			<div class="d-flex" id="wrapper">
				<div th:insert="~{Components :: studentSidebar}"></div>
				<div id="page-content-wrapper">
					<div class="container-fluid">
						<br /> <br />

						<!-- class="card mb-2 pd-0" -->
						<div>
							<h4 class="card-header text-center">Completed Courses Detail</h4>
							<table class="table">
								<tr>
									<td>Course Name</td>
									<td class="pl-3"
										th:text="${completeCourse.getCourse().getName()}" /></td>
								</tr>
								<tr>
									<td>Department Name</td>
									<td class="pl-3"
										th:text="${completeCourse.getCourse().getDepartment().getName()}" />

								</tr>

								<tr>
									<td>Marks</td>
									<td class="pl-3" th:text="${completeCourse.getMarks()}" />

								</tr>
								<tr>
									<td colspan="2"><a
										class="btn btn-sm btn-outline-info text-center"
										href="/student/viewStudentCourses/1">Back</a></td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer th:insert="~{Components :: footer}"></footer>
		<div th:insert="~{Components :: bootstrapScripts}"></div>
		<div th:insert="~{Components :: valScript}"></div>
	</div>
</body>
</html>