<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="https://bootswatch.com/4/united/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" type="text/css"
	href="https://unpkg.com/lightpick@latest/css/lightpick.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style th:insert="~{Components :: style}"></style>
<meta charset="ISO-8859-1">
<title>Admin | Approved Leaves</title>
</head>
<body>
	<nav th:insert="~{Components :: navbar}"></nav>
	<div class="d-flex" id="wrapper">
		<div th:insert="~{Components :: adminSidebar}"></div>
		<div id="page-content-wrapper">
			<div class="container-fluid">
				<br />
				<div class="w3-container">
					<h3 class="text-center">Approved Leave Records</h3>
					<input class="w3-input w3-border w3-padding" type="text"
						placeholder="Search by faculty" id="myInput"
						onkeyup="myFunction()">

					<table class="w3-table-all w3-margin-top" id="myTable">
						<tr class="w3-tiny">
						
							<th style="width: 16.6%;">First Name</th>
							<th style="width: 16.6%;">Last Name</th>
							<th style="width: 16.6%;">Start Date</th>
							<th>End Date</th>
						</tr>
						<tr th:each="approvedleave:${approvedleaves}">
							<td th:text="*{approvedleave.faculty.firstName}">Faculty First Name</td>
							<td th:text="*{approvedleave.faculty.lastName}">Faculty Last Name</td>
							<td th:text="*{#dates.format(approvedleave.startDate,'dd-MM-yyyy')}">Start Date</td>
							<td th:text="*{#dates.format(approvedleave.endDate,'dd-MM-yyyy')}">End Date</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>

	<footer th:insert="~{Components :: footer}"></footer>
	<div th:insert="~{Components :: bootstrapScripts}"></div>
	<div th:insert="~{Components :: valScript}"></div>

	<script>
		function myFunction() {
			var input, filter, table, tr, td, i;
			input = document.getElementById("myInput");
			filter = input.value.toUpperCase();
			table = document.getElementById("myTable");
			tr = table.getElementsByTagName("tr");
			for (i = 0; i < tr.length; i++) {
				td = tr[i].getElementsByTagName("td")[0];
				if (td) {
					txtValue = td.textContent || td.innerText;
					if (txtValue.toUpperCase().indexOf(filter) > -1) {
						tr[i].style.display = "";
					} else {
						tr[i].style.display = "none";
					}
				}
			}
		}
	</script>

</body>
</html>